<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<div class="page-container">
    <div class="page-content-wrap">
			<header class="texture-{{ site.texture.style }}">
				<div class="container">
					{%- include nav.html -%}
				</div>
				{%- include header.html -%}	
			</header>
			<main class="page-content">
				<div class="container">
					{{ content }}
				</div>
			</main>
			{%- include footer.html -%}
		</div>
		<footer class="texture-{{ site.texture.style }}">
			{%- include page_footer.html -%}
		</footer>
	</div>
</body>
</html>